# Домашнее задание №3

Во всех задачах для ввода данных используйте `input()`, а для вывода данных используйте `print()`

## Задача №1

**Условие:** Необходимо ввести с клавиатуры последовательность натуральных чисел, каждое число на новой строке. Последовательность завершается числом 0. Необходимо найти наибольший элемент в последовательности.

**Пример для проверки:**  
*Входные данные*     
1                       
8  
4  
0  
*Выходные данные*   
8

In [ ]:

num = int(input())
list = []
while num!= 0:
   list.append(num)
   num = int(input())
try:
  print('Максимальное:', max(list))
  print(list)
except:
  print("Пидор, ноль не включаем")

#a=int(input())
#lis=[]
#while a!=0:
#  lis.append(a)
#  a=int(input())

#print(max(lis))

0
Пидор, ноль не включаем

## Задача №2

**Условие:** Дана строка. Необходимо удалить из этой строки все символы %. Для решения задачи используйте цикл.

**Пример для проверки:**  
*Входные данные*  
GHRE%%%%fd%dfjkan%%fleo%%%%r%fe%  
*Выходные данные*  
GHREfddfjkanfleorfe

In [ ]:
str = input()
res_str = str.replace('%', '')
print(res_str)

%%%%

## Задача №3

**Условие:** Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A включительно до B включительно (математическая запись - [A, B]).

**Пример для проверки:**  
*Входные данные*  
1  
10  
*Выходные данные*  
1 2 3 4 5 6 7 8 9 10

In [ ]:

num1 = int(input())
num2 = int(input())
for i in range (num1, num2+1):
    print(i)

-5
12
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12

## Задача №4

**Условие:** Необходимо ввести с клавиатуры 10 целых чисел. Вычислите сумму введенных чисел. 

**Пример для проверки:**  
*Входные данные*  
8  
4  
5  
3  
9  
2  
3   
4  
5  
1  
*Выходные данные*  
44

In [ ]:
sum = 0 #заводим счетчик
num = int(input()) #сколько чисел будем вводить с клавиатуры
for i in range(num): #заводим цикл по длине ввода с клавиатуры
    n = int(input()) #вводим числа с клавиатуры
    sum+=n#прибавляем к счетчику цифры с клавиатуры
    print(sum) #выводим результат

10
758
758
483
1241
893
2134
393
2527
293
2820
292
3112
292
3404
485
3889
828
4717
183
4900

## Задача №5

**Условие:** Факториалом числа n называется произведение 1 * 2 * ... * n. Обозначение: n!.
Введите с клавиатуры натуральное число n. Вычислите значение n!. 

В решении задачи нельзя использовать математическую библиотеку math.

**Пример для проверки:**  
*Входные данные*  
7  
*Выходные данные*  
5040

In [ ]:
comp = 1 #заводим счетчик
n = int(input())
for i in range(1, n+1): #заводим цикл по длине ввода с клавиатуры
    comp*=i#умножаем к счетчику цифры с клавиатуры
    print(comp) #выводим результат

12
1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600